################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChatApi/obj
/ChatApi/bin/Debug/netcoreapp2.1
/obj
/bin/Debug
/.vs

